<div class="section padding-top-100 padding-bottom-0 index-highlights">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-md-12 text-center">
                <h1 class="subpage"><%- __('brainstr-as-tutor.headline') %></h1> <br>
                <p class="subpage subheadline">
                    <%- __('brainstr-as-tutor.subheadline') %>
                </p>
                <a href="/register" class="button button-primary"><%- __('brainstr-as-tutor.cta-btn') %></a>
            </div>
            <div class="col-md-11 margin-top-50 text-center">
                <video src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/videos/girl_teaching.mp4" width="100%" muted autoplay loop></video>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-100 index-highlights">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.1.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.1.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.2.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.2.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.3.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.3.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.4.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.4.text') %></p>
                </div>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.5.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.5.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.6.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.6.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.7.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.7.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('brainstr-as-tutor.boxes.8.headline') %></h2>
                    <p><%- __('brainstr-as-tutor.boxes.8.text') %></p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-12">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-classroom-interactive_<%= locale %>.webp" alt="brainstr interactive classroom" loading="lazy">
            </div>

            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('brainstr-as-tutor.slides.1.headline') %></h2>
                <p class="margin-bottom-20">
                    <%- __('brainstr-as-tutor.slides.1.text') %>
                </p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('brainstr-as-tutor.cta-btn') %></a>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('brainstr-as-tutor.slides.2.headline') %></h2>
                <p class="margin-bottom-20">
                    <%- __('brainstr-as-tutor.slides.2.text') %>
                </p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('brainstr-as-tutor.cta-btn') %></a>
            </div>

            <div class="col-md-7 col-sm-12">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-teacher-profiles-2_<%= locale %>.webp" alt="brainstr teacher profiles" loading="lazy">
            </div>
        </div>
    </div>
</div>


<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-12">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-teacher-timetable_<%= locale %>.webp" alt="brainstr teacher timetable" loading="lazy">
            </div>

            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('brainstr-as-tutor.slides.3.headline') %></h2>
                <p class="margin-bottom-20">
                    <%- __('brainstr-as-tutor.slides.3.text') %>
                </p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('brainstr-as-tutor.cta-btn') %></a>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-100 padding-bottom-90 index-highlights">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('brainstr-as-tutor.slides.4.headline') %></h2>
                <p class="margin-bottom-20">
                    <%- __('brainstr-as-tutor.slides.4.text') %>
                </p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('brainstr-as-tutor.cta-btn') %></a>
            </div>
            <div class="col-md-7 col-sm-12">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-teacher-pricing_<%= locale %>.webp" alt="brainstr teacher pricing" loading="lazy">
            </div>
        </div>
    </div>
</div>


<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h2 class="margin-bottom-25"><%- __('brainstr-as-tutor.slides.5.headline') %></h2>
                <p><%- __('brainstr-as-tutor.slides.5.text') %></p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('brainstr-as-tutor.cta-btn') %></a>
            </div>
        </div>
    </div>
</div>



<script src="/js/slick.min.js"></script>

<script src="/data/<%= locale %>.js"></script>
<script src="/controller/index.js" defer></script>