<div class="section padding-top-100 padding-bottom-0 index-highlights">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="subpage"><%- __('PeakESL-as-student.headline') %></h1> <br>
                <p class="subpage subheadline"><%- __('PeakESL-as-student.text') %></p>
                <a href="/register" class="button button-primary"><%- __('PeakESL-as-student.cta-btn') %></a>
            </div>
            <div class="col-md-11 margin-top-50 text-center">
                <video src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/videos/brainstr-tutoring-2.mp4" width="100%" muted autoplay loop></video>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-100 index-highlights">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.1.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.1.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.2.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.2.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.3.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.3.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.4.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.4.text') %></p>
                </div>
            </div>

        </div>


        <div class="row margin-top-50">
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.5.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.5.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.6.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.6.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.7.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.7.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('PeakESL-as-student.blocks.8.headline') %></h2>
                    <p><%- __('PeakESL-as-student.blocks.8.text') %></p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-12">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-classroom_<%= locale %>.webp" alt="PeakESL interactive classroom">
            </div>

            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('PeakESL-as-student.slides.1.headline') %></h2>
                <p class="margin-bottom-20"><%- __('PeakESL-as-student.slides.1.text') %></p>
                <a href="/virtual-classroom" class="button button-primary margin-top-10"><%- __('general.learn-more') %></a>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('PeakESL-as-student.slides.2.headline') %></h2>
                <p class="margin-bottom-20"><%- __('PeakESL-as-student.slides.2.text') %></p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('PeakESL-as-student.cta-btn') %></a>
            </div>

            <div class="col-md-7 col-sm-12">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-teacher-profiles-2_<%= locale %>.webp" alt="PeakESL find your perfect tutor">
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-12">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-booking_<%= locale %>.webp" alt="PeakESL fast and secure lesson booking">
            </div>

            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('PeakESL-as-student.slides.3.headline') %></h2>
                <p class="margin-bottom-20"><%- __('PeakESL-as-student.slides.3.text') %></p>
                <a href="/virtual-classroom" class="button button-primary margin-top-10"><%- __('PeakESL-as-student.cta-btn') %></a>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('PeakESL-as-student.slides.4.headline') %></h2>
                <p class="margin-bottom-20"><%- __('PeakESL-as-student.slides.4.text') %></p>
                <a href="/virtual-classroom" class="button button-primary margin-top-10"><%- __('PeakESL-as-student.cta-btn') %></a>
            </div>

            <div class="col-md-7 col-sm-12">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-maths.webp" alt="PeakESL become a tutor">
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h2 class="margin-bottom-25"><%- __('PeakESL-as-student.slides.5.headline') %></h2>
                <p><%- __('PeakESL-as-student.slides.5.text') %></p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('PeakESL-as-student.slides.5.btn') %></a>
            </div>
        </div>
    </div>
</div>



<script src="/js/slick.min.js"></script>

<script src="/data/<%= locale %>.js"></script>
<script src="/controller/index.js" defer></script>