<div class="half-split">

    <div class="auth-left">
        <!--<div class="darkener"></div>-->

        <div class="wrapper vh-100">
            <div class="row align-items-center h-100 no-gutters">
                <div class="col-md-8 mx-auto" style="margin-top:-40px">
                </div>
            </div>

            <p id="copyright" class="mt-5 mb-3" style="font-size: 12px;">
                © 2022 <b>PeakESL</b> &nbsp; &nbsp;
                <a href="/"><%- __('header.start') %></a>
                &nbsp;
                <a href="/social-program/"><%- __('general.socialprogram-short') %></a>
                &nbsp;
                <a href="mailto:support@peakesl.de"><%- __('header.support-ctr') %></a>
            </p>
        </div>
    </div>

    <div>
        <div class="wrapper vh-100">
            <div class="row align-items-center h-100 no-gutters" style="justify-content: center;align-items: center !important;width: 100%;">

                <div class="col-md-8 col-10 mx-auto">
                    <a href="/">
                        <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo.webp" alt="PeakESL Logo" style="height: 25px;margin-bottom: 35px;">
                    </a>


                    <% if(resetProcess==true){ %>
                        <h1 class="h6 mb-3">
                            <%= __('reset-password.set-headline') %>
                        </h1>
                        <br>

                        <div class="notification error" id="login-notification">
                            <p>...</p>
                            <a class="close"></a>
                        </div>

                        <form method="post" id="login-form">
                            <input type="password" class="input-text with-border" id="password" placeholder="<%= __('general.password') %>" required />
                            <br>
                        </form>

                        <a class="button button-primary full-width margin-top-10" id="setpw-btn">
                            <%= __('reset-password.set-btn') %>
                        </a>

                        <% } else { %>
                            <h1 class="h6 mb-3">
                                <%= __('reset-password.headline') %>
                            </h1>
                            <p>
                                <span class="legal">
                                    <%= __('reset-password.remember-text') %>
                                        <a href="/login/">
                                            <%= __('reset-password.remember-link') %>
                                        </a>
                                </span>
                            </p>

                            <br>

                            <div class="notification error" id="login-notification">
                                <p>...</p>
                                <a class="close"></a>
                            </div>

                            <form method="post" id="login-form">
                                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="<%= __('general.email') %>" required />

                                <br>
                                <p>
                                    <%= __('reset-password.text') %>
                                </p>
                                <br>
                            </form>

                            <button class="button button-primary full-width margin-top-10" type="button" form="login-form" id="reset-btn">
                                <%= __('reset-password.button') %>
                            </button>

                            <% } %>


                </div>

            </div>
        </div>

    </div>
</div>


<!--
<% if (resetProcess == true) { %>
<div class="container margin-top-75">
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <div class="login-register-page">
                <div class="welcome-text">
                    <h3><%= __('reset-password.set-headline') %></h3>
                </div>

                <div class="notification error" id="login-notification">
                    <p>...</p>
                    <a class="close"></a>
                </div>


                <form method="post" id="login-form">
                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-lock"></i>
                        <input type="password" class="input-text with-border" id="password" placeholder="<%= __('general.password') %>" required />
                    </div>
                    <br>
                </form>

                <a class="button button-primary full-width margin-top-10" id="setpw-btn">
                    <%= __('reset-password.set-btn') %>
                </a>
            </div>
        </div>
    </div>
</div>
<% } else { %>
<div class="container margin-top-75">
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <div class="login-register-page">
                <div class="welcome-text">
                    <h3><%= __('reset-password.headline') %></h3>
                    <span class="legal"><%= __('reset-password.remember-text') %>
                        <a href="/login/"><%= __('reset-password.remember-link') %></a></span>
                </div>

                <div class="notification error" id="login-notification">
                    <p>...</p>
                    <a class="close"></a>
                </div>


                <form method="post" id="login-form">
                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="<%= __('general.email') %>" required />
                    </div>

                    <br>
                    <p><%= __('reset-password.text') %></p>
                </form>

                <button class="button button-primary full-width margin-top-10" type="button" form="login-form" id="reset-btn">
                    <%= __('reset-password.button') %>
                </button>
            </div>
        </div>
    </div>
</div>
<% } %>





<div class="margin-top-100"></div>
<br /><br /><br />
-->

<script src="/controller/reset_password.js"></script>