<div class="ix" style="margin-top: -40px;">

    <div class="ix-head" style="background-image: url('https://images.pexels.com/photos/6325984/pexels-photo-6325984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
    width: 100vw;
    padding: 0px 25px 25px 25px;
    position: relative;
    max-height: 800px;
    margin-bottom: 0px;">

        <div style="background-color: black; opacity: 0.6; position: absolute;top:0;left:0;width:100%; height: 100%;z-index:0;background-image: none !important;"></div>

        <div class="container margin-top-30 margin-bottom-30" style="z-index:2;padding: 0 !important; padding-top: 75px !important;background-image: none !important;background-color: transparent !important;">
            <div class="row align-items-center">
                <div class="col-md-6" id="infobox">
                    <h1 style="font-size: 48px;color:#fff;">🇺🇦<br><%- __('social-program-teacher.headline') %></h1>
                    <h2 class="legal" style="line-height: 1.8;color:#fff;"><%- __('social-program-teacher.subheadline') %></h2>
                </div>

                <div class="col-md-1"> </div>

                <div class="col-md-5" id="signup">
                    <div style="background-color: #fff;border-radius: 5px;box-shadow: var(--shadow);padding:40px;border: solid 1px var(--border);">

                        <div id="registration-form">
                            <form action="post" id="signup-form">

                                <h2 style="font-weight: normal;font-size: 22px;margin-bottom: 25px;"><%- __('social-program-teacher.cta') %></h2>

                                <div class="notification error" id="login-notification">
                                    <p>...</p>
                                    <a class="close"></a>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <input class="border no-shadow" type="text" placeholder="<%= __('general.first-name') %>" id="name">
                                    </div>
                                    <div class="col-6">
                                        <input class="border no-shadow" type="text" placeholder="<%= __('general.last-name') %>" id="surname">
                                    </div>
                                </div>
                                <input class="border no-shadow" type="email" placeholder="<%= __('general.email') %>" id="emailaddress">
                                <input class="border no-shadow" type="password" placeholder="<%= __('general.password') %>" id="password">

                                <div class="checkbox ts-subject-checkbox">
                                    <input type="checkbox" id="profteacher">
                                    <label for="profteacher"><span class="checkbox-icon"></span>
                                        <%= __('register.profTeacher') %>
                                    </label>
                                </div>

                                <div class="checkbox ts-freeteaching-checkbox">
                                    <input type="checkbox" id="socialteacher" checked>
                                    <label for="socialteacher"><span class="checkbox-icon"></span>
                                        <%= __('register.socialTeacher') %>
                                    </label>
                                </div>

                                <button id="btn-submit" class="button button-primary button-block margin-top-20 g-recaptcha" form="signup-form" data-sitekey="<%= gcaptcha_key %>" data-callback='onClickRegister' data-action='signup'><%- __('social-program-teacher.cta2') %></button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section padding-top-100 padding-bottom-90 index-highlights mobile-spacer-top-200">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="block index-feature margin-top-25">
                        <h2 style="line-height:1.4"><%- __('social-program-teacher.h1') %></h2>
                        <p><%- __('social-program-teacher.t1') %></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block index-feature margin-top-25">
                        <h2 style="line-height:1.4"><%- __('social-program-teacher.h2') %></h2>
                        <p><%- __('social-program-teacher.t2') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="section padding-top-100 padding-bottom-90 index-highlights gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-sm-12">
                    <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-classroom-interactive_<%= locale %>.webp" alt="PeakESL interactive classroom" loading="lazy">
                </div>

                <div class="col-md-5 col-sm-12 align-self-center">
                    <h2 class="margin-bottom-25"><%- __('PeakESL-as-tutor.slides.1.headline') %></h2>
                    <p class="margin-bottom-20">
                        <%- __('PeakESL-as-tutor.slides.1.text') %>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="section padding-top-100 padding-bottom-100 index-highlights">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block index-feature margin-top-25">
                        <h2><%- __('PeakESL-as-tutor.boxes.1.headline') %></h2>
                        <p><%- __('PeakESL-as-tutor.boxes.1.text') %></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block index-feature margin-top-25">
                        <h2><%- __('PeakESL-as-tutor.boxes.2.headline') %></h2>
                        <p><%- __('PeakESL-as-tutor.boxes.2.text') %></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block index-feature margin-top-25">
                        <h2><%- __('PeakESL-as-tutor.boxes.3.headline') %></h2>
                        <p><%- __('PeakESL-as-tutor.boxes.3.text') %></p>
                    </div>
                </div>
            </div>

            <div class="row margin-top-20">
                <div class="col-md-4">
                    <div class="block index-feature margin-top-25">
                        <h2><%- __('PeakESL-as-tutor.boxes.6.headline') %></h2>
                        <p><%- __('PeakESL-as-tutor.boxes.6.text') %></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block index-feature margin-top-25">
                        <h2><%- __('PeakESL-as-tutor.boxes.7.headline') %></h2>
                        <p><%- __('PeakESL-as-tutor.boxes.7.text') %></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block index-feature margin-top-25">
                        <h2><%- __('PeakESL-as-tutor.boxes.8.headline') %></h2>
                        <p><%- __('PeakESL-as-tutor.boxes.8.text') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section padding-top-100 padding-bottom-90 index-highlights gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 col-sm-12 align-self-center">
                    <h2 class="margin-bottom-25"><%- __('PeakESL-as-tutor.slides.2.headline') %></h2>
                    <p class="margin-bottom-20">
                        <%- __('PeakESL-as-tutor.slides.2.text') %>
                    </p>
                </div>

                <div class="col-md-7 col-sm-12">
                    <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-teacher-profiles-2_<%= locale %>.webp" alt="PeakESL teacher profiles" loading="lazy">
                </div>
            </div>
        </div>
    </div>


    <div class="section padding-top-100 padding-bottom-90 index-highlights ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-sm-12">
                    <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-teacher-timetable_<%= locale %>.webp" alt="PeakESL teacher timetable" loading="lazy">
                </div>

                <div class="col-md-5 col-sm-12 align-self-center">
                    <h2 class="margin-bottom-25"><%- __('PeakESL-as-tutor.slides.3.headline') %></h2>
                    <p class="margin-bottom-20">
                        <%- __('PeakESL-as-tutor.slides.3.text') %>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="section padding-top-100 padding-bottom-90 index-highlights landing-last-cta">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2 class="margin-bottom-25"><%- __('social-program-teacher.cta-headline', '<b>' ) %></b></h2>
                    <p><%- __('social-program-teacher.cta-text', '<br>' ) %></p>
                    <a href="#signup" class="button button-primary margin-top-10"><%- __('PeakESL-as-tutor.cta-btn') %></a>
                </div>
            </div>
        </div>
    </div>



    <script src="/js/slick.min.js"></script>

    <script src="/data/<%= locale %>.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= gcaptcha_key %>"></script>
    <script src="/controller/social_program_teacher_join.js" defer></script>