<div class="section padding-top-100 padding-bottom-0 index-highlights">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="subpage"><%- __('virtual-classroom.headline') %></h1> <br>
                <p class="subpage subheadline"><%- __('virtual-classroom.subheadline') %></p>
            </div>
            <div class="col-md-12 margin-top-50 text-center">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-classroom_<%= locale %>.webp" alt="brainstr virtual classroom" loading="lazy">
            </div>
        </div>
    </div>
</div>


<div class="section padding-top-0 padding-bottom-100 index-highlights">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('virtual-classroom.boxes.1.headline') %></h2>
                    <p><%- __('virtual-classroom.boxes.1.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('virtual-classroom.boxes.2.headline') %></h2>
                    <p><%- __('virtual-classroom.boxes.2.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('virtual-classroom.boxes.3.headline') %></h2>
                    <p><%- __('virtual-classroom.boxes.3.text') %></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block index-feature margin-top-25">
                    <h2><%- __('virtual-classroom.boxes.4.headline') %></h2>
                    <p><%- __('virtual-classroom.boxes.4.text') %></p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-90 index-highlights gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-12">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-classroom-interactive_<%= locale %>.webp" alt="brainstr interactive classroom" loading="lazy">
            </div>

            <div class="col-md-5 col-sm-12 align-self-center">
                <h2 class="margin-bottom-25"><%- __('virtual-classroom.slides.1.headline') %></h2>
                <p class="margin-bottom-20">
                    <%- __('virtual-classroom.slides.1.text') %>
                </p>
                <a href="/register" class="button button-primary margin-top-10"><%- __('virtual-classroom.slides.1.btn') %></a>
            </div>
        </div>
    </div>
</div>



<div class="section padding-top-100 padding-bottom-50 index-highlights">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-maths.webp" alt="brainstr excellent tutors" loading="lazy">
                <div class="block index-feature text-center margin-top-25">
                    <h2><%- __('virtual-classroom.features.1.headline') %></h2>
                    <p><%- __('virtual-classroom.features.1.text') %></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-kids-in-school.webp" alt="brainstr covid safe" loading="lazy">
                <div class="block index-feature text-center margin-top-25">
                    <h2><%- __('virtual-classroom.features.2.headline') %></h2>
                    <p><%- __('virtual-classroom.features.2.text') %></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://brstr.nyc3.cdn.digitaloceanspaces.com/web/images/brainstr-secure.webp" alt="brainstr data protection" loading="lazy">
                <div class="block index-feature text-center margin-top-25">
                    <h2><%- __('virtual-classroom.features.3.headline') %></h2>
                    <p><%- __('virtual-classroom.features.3.text') %></p>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="section padding-top-50 padding-bottom-50 index-highlights">
    <div class="container">
        <div class="row margin-top-20 blog-cta justify-content-center margin-left-0 margin-right-0">
            <div class="col-xl-10 margin-top-75 margin-bottom-75">
                <h2>
                    <%= __('blog.cta.title') %>
                </h2>
                <p>
                    <%= __('blog.cta.text') %>
                </p>
                <a href="/register" id="cta-btn" class="button button-primary">
                    <%= __('blog.cta.btn') %>
                </a>
                <br>
                <small>
                    <%= __('blog.cta.or') %> <a href="/online-tutoring/" id="cta-learn">
                            <%= __('blog.cta.learn-more') %>
                        </a>
                </small>
            </div>
        </div>
    </div>
</div>




<script src="/js/slick.min.js"></script>

<script src="/data/<%= locale %>.js"></script>
<script src="/controller/index.js" defer></script>