<script>
    /* beautify preserve:start */
    var teacherData = JSON.parse(<% - JSON.stringify(JSON.stringify(teacher)) %>);
    var bookedTimes = JSON.parse(<% - JSON.stringify(JSON.stringify(bookedTimes)) %>);
    var reviews = JSON.parse(<% - JSON.stringify(JSON.stringify(reviews)) %>);
    /* beautify preserve:end */
</script>


<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Product",
        "name": "Online Tutor <%= teacher.firstname %> on PeakESL",
        "description": "<%= __('teacher.about') %>",
        "offers": {
            "@type": "Offer",
            "url": "https://peakesl.de/teacher/<%= teacher._id %>/",
            "priceCurrency": "EUR",
            "availability": "https://schema.org/OnlineOnly"
        },
        "image": "https://peakesl.de/profilepicture/<%= teacher._id %>/"
    }
</script>

<!--
<div class="single-page-header freelancer-header" data-background-image="../images/section-teacher.webp" style="z-index:100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image freelancer-avatar"><img id="ti-image" src="/profilepicture/<%= teacher._id %>" alt="">
                        </div>
                        <div class="header-details">
                            <h3 id="ti-name"><%= teacher.firstname %> <%= teacher.lastname %></h3>
                            <h5 id="ti-registereddate"></h5>
                            <ul>
                                <li id="ti-type"></li>
                                <li id="ti-rating"></li>
                                <li id="ti-location"></li>


                                <li id="ti-verified">
                                    <div class="verified-badge-with-title" data-tippy-placement="top" title="<%= __('teacher.verified.tooltip') %>"><%= __('teacher.verified.text') %>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
-->


<div class="row">

    <div class="col-xl-8 col-lg-8 content-left-offset order-1 order-lg-2">

        <div class="panel">

            <% if(teacher.video !=false && teacher.video !=undefined && teacher.video_source=="youtube" ){ %>
                <div class="plyr__video-embed teacher-video-top" id="player">
                    <iframe src="https://www.youtube.com/embed/<%= teacher.video_id %>?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
                </div>
                <% } %>

                    <!--<iframe id="player" type="text/html" width="640" height="390" src="https://www.youtube-nocookie.com/embed/M7lc1UVf-VE?hl=<%= locale %>&rel=0&modestbranding=1&showinfo=0" frameborder="0"></iframe>
                -->


                    <div class="row">
                        <div class="col-md-12 teacher-main-info">
                            <div class="d-block d-sm-flex">
                                <div class="header-image freelancer-avatar"><img id="ti-image" src="/profilepicture/<%= teacher._id %>" alt=""></div>
                                <div class="d-block margin-top-20 d-block d-sm-none"></div>

                                <div class="header-details">
                                    <h3 id="ti-name">
                                        <%= teacher.firstname %>
                                            <%= teacher.lastname %>

                                                <% if(teacher.verified==true){ %>
                                                    <div class="verified-badge-with-title" data-tippy-placement="top" title="<%= __('teacher.verified.tooltip') %>"></div>
                                                    <% } %>

                                                        <% if(teacher.socialTeacher==true){ %>
                                                            <div class="verified-badge-with-title badge-socialteacher" data-tippy-placement="top" title="<%= __('teacher.socialTeacherTooltip') %>"></div>
                                                            <% } %>

                                    </h3>

                                    <h5 id="ti-registereddate"></h5>
                                    <!--<h5 id="ti-location"></h5>-->
                                    <span id="ti-rating"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="single-page-section margin-top-50">
                        <h3 class="margin-bottom-5">
                            <%= __('teacher.about') %>
                        </h3>
                        <p id="ti-description"></p>

                        <br><br>
                        <div id="ti-languages"></div>
                    </div>


                    <div class="single-page-section">
                        <h3 class="margin-bottom-25">
                            <%= __('general.subjects') %>
                        </h3>
                        <div class="listings-container grid-layout" id="ti-subjects">
                        </div>
                    </div>

                    <div class="single-page-section">
                        <h3 class="margin-bottom-25">
                            <%= __('general.availability') %>
                        </h3>
                        <div class="row timetable noselect" id="teacher-timetable">

                            <div class="timetable-axis-x">
                                <div class="timetable-axis-x-clearfix"> </div>

                                <div class="timetable-axis-x-container">
                                    <div class="timetable-axis-x-text">
                                        03:00<div class="timetable-axis-x-seperator"></div>
                                    </div>
                                    <div class="timetable-axis-x-text">
                                        09:00<div class="timetable-axis-x-seperator"></div>
                                    </div>
                                    <div class="timetable-axis-x-text">
                                        15:00<div class="timetable-axis-x-seperator"></div>
                                    </div>
                                    <div class="timetable-axis-x-text">
                                        21:00<div class="timetable-axis-x-seperator"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.monday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-monday-items"></div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.tuesday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-tuesday-items"></div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.wednesday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-wednesday-items"></div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.thursday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-thursday-items"></div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.friday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-friday-items"></div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.saturday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-saturday-items"></div>
                            </div>

                            <div class="timetable-row">
                                <span>
                                    <%= __('general.weekdays.short.sunday') %>
                                </span>
                                <div class="timetable-row-item-container" id="timetable-sunday-items"></div>
                            </div>

                        </div>
                        <span id="timetable-info"></span>
                        <br>
                    </div>

                    <div class="single-page-section boxed-list margin-bottom-0">
                        <h3 id="ti-reviews-headline">
                            <%= __('teacher.feedback') %>
                        </h3>


                        <div class="row align-items-center">
                            <div class="col-12 col-md-8 col-lg-8 col-xl-7">
                                <div class="rating-overview-item inactive" id="rating-bar-five">
                                    <span>5 <%= __('general.stars') %></span>
                                    <div class="rating-bar">
                                        <div></div>
                                    </div>
                                    <span class="rating-amount">(0)</span>
                                </div>

                                <div class="rating-overview-item inactive" id="rating-bar-four">
                                    <span>4 <%= __('general.stars') %></span>
                                    <div class="rating-bar">
                                        <div></div>
                                    </div>
                                    <span class="rating-amount">(0)</span>
                                </div>

                                <div class="rating-overview-item inactive" id="rating-bar-three">
                                    <span>3 <%= __('general.stars') %></span>
                                    <div class="rating-bar">
                                        <div></div>
                                    </div>
                                    <span class="rating-amount">(0)</span>
                                </div>

                                <div class="rating-overview-item inactive" id="rating-bar-two">
                                    <span>2 <%= __('general.stars') %></span>
                                    <div class="rating-bar">
                                        <div></div>
                                    </div>
                                    <span class="rating-amount">(0)</span>
                                </div>

                                <div class="rating-overview-item inactive" id="rating-bar-one">
                                    <span>1 <%= __('general.star') %></span>
                                    <div class="rating-bar">
                                        <div></div>
                                    </div>
                                    <span class="rating-amount">(0)</span>
                                </div>

                                <br>
                            </div>

                            <div class="d-sm-none d-md-block col-md-4 col-lg-4 col-xl-5">
                                <span id="rating-big"></span>
                            </div>
                        </div>

                        <br>
                        <ul class="boxed-list-ul" id="ti-reviews"></ul>
                    </div>

        </div>
    </div>


    <!-- Sidebar -->
    <div class="col-xl-4 col-lg-4 order-2 order-lg-1">
        <div class="d-block d-lg-none"> <br> <br> </div>

        <div class="sidebar-container" id="ti-sidebar">
            <!--<div class="countdown margin-bottom-35" id="ti-availability"></div>-->

            <div class="sidebar-widget" id="ti-bookingpanel">
                <div class="bidding-widget">
                    <div class="bidding-headline">
                        <h3>
                            <%= __('teacher.book-headline') %>
                        </h3>
                    </div>
                    <div class="bidding-inner" id="panel-booking">

                        <div class="bidding-fields">
                            <div class="bidding-field" id="ti-subjectselect-container"></div>
                        </div>

                        <div class="bidding-fields" style="display:none">
                            <div class="bidding-field" id="ti-duration-container"></div>
                        </div>

                        <div class="bidding-fields margin-top-20">
                            <div class="bidding-field" id="ti-dateselect-container">
                                <div></div>
                            </div>
                        </div>

                        <div class="bidding-fields margin-top-20">
                            <div class="bidding-field" id="ti-timeselect-container">
                            </div>
                        </div>

                        <button id="continue-booking-btn" class="button full-width margin-top-30"><span>
                                <%= __('general.continue') %>
                            </span></button>

                    </div>


                    <div class="bidding-inner" id="panel-booking-confirmation">

                        <div class="bidding-fields margin-top-20">
                            <ul class="widget-ul">
                                <li>
                                    <%= __('general.subject') %> <span id="ti-confirmation-subject"></span>
                                </li>
                                <li>
                                    <%= __('general.length') %> <span id="ti-confirmation-tf"></span>
                                </li>
                                <li>
                                    <%= __('general.date') %> <span id="ti-confirmation-date"></span>
                                </li>
                                <li>
                                    <%= __('general.time') %> <span id="ti-confirmation-time"></span>
                                </li>
                                <li class="total">
                                    <%= __('general.price') %> <span id="ti-confirmation-price"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="bidding-fields margin-top-50">
                            <p class="booking-note">
                                <%= __('teacher.book-note') %>
                            </p>
                        </div>

                        <button id="send-booking" class="button button-green full-width margin-top-20"><span>
                                <%= __('teacher.book-btn') %></button>

                        <div class="booking-back margin-top-15"><a onclick="backToEntry()">
                                <%= __('teacher.back-to-entry') %>
                            </a>
                        </div>

                    </div>

                    <!--
                        <div class="bidding-signup">Unsicher? <a href="#sign-in-dialog"
                                class="register-tab sign-in popup-with-zoom-anim">Hier gibts Hilfe!</a></div>
                        -->
                </div>
            </div>


            <div class="sidebar-widget success" id="ti-bookingresult">
                <div class="bidding-widget">
                    <i class="icon-feather-check" id="ti-bookingresult-icon"></i>
                    <h2 id="ti-bookingresult-headline">
                        <%= __('teacher.book-success-headline') %>
                    </h2>
                    <span id="ti-bookingresult-text">
                        <%= __('teacher.book-success-text') %>
                    </span>
                </div>
            </div>



            <a href="/messages?start=<%= teacher._id %>&n=<%= teacher.firstname %> <%= teacher.lastname %>" class="button gray button-block btn-teacher-msg margin-bottom-35"><i class="icon-feather-message-square"></i> &nbsp; <%= __('teacher.ccontactMe') %></a>


            <!-- Sidebar Widget -->
            <!--
                <div class="sidebar-widget">
                    <h3>Share</h3>
                    <div class="copy-url">
                        <input id="copy-url" type="text" value="" class="with-border">
                        <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url"
                            title="In Zwischenablage kopieren" data-tippy-placement="top"><i
                                class="icon-material-outline-file-copy"></i></button>
                    </div>
                </div>
                -->

        </div>
    </div>
</div>


<a class="popup-with-zoom-anim" href="#floating-login-model" id="floating-login-model-link"></a>
<div id="floating-login-model" class="zoom-anim-dialog dialog-with-tabs mfp-hide modal-popup">
    <div class="sign-in-form">
        <div class="popup-tabs-container">
            <div class="popup-tab-content" id="tab">
                <div class="welcome-text margin-top-20 margin-bottom-0">

                    <div id="lgm-div-login">
                        <h3>
                            <%= __('login.headline') %>
                        </h3>
                        <span class="legal">
                            <%= __('login.no-account-notice') %>
                                <a href="#" onclick="redirectToRegistration();">
                                    <%= __('login.no-account-link') %>
                                </a>
                        </span>

                        <br>

                        <div class="notification error display" id="login-notification" <%if (locals.errmsg) { %> style="display:block;" <% } %>>
                                <p>
                                    <%if (locals.errmsg) { %>
                                        <%= __('login.failed-auth') %>
                                            <% } %>
                                </p>
                                <a class="close"></a>
                        </div>

                        <form method="post" action="/login-floating" id="floating-login-form">
                            <input type="hidden" name="redirect" id="redirect" value="">
                            <input type="hidden" name="g-recaptcha" id="g-recaptcha" value="">

                            <input type="text" class="input-text with-border" id="username" name="username" placeholder="Email address" required="">
                            <input type="password" class="input-text with-border" id="password" name="password" placeholder="Password" required="">

                            <span class="legal"><a href="/reset-password/" class="forgot-password">
                                    <%= __('login.reset-password') %>
                                </a></span>
                        </form>

                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10 g-recaptcha" data-sitekey="<%= gcaptcha_key %>" data-callback="onLoginClick" data-action="signin" type="button" form="floating-login-form" id="floating-login-btn">
                            <%= __('general.sign-in') %>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=<%= gcaptcha_key %>"></script>
<script src="/controller/floating_login.js"></script>
<script src="https://unpkg.com/plyr@3"></script>



<script src="./data/<%= locale %>.js"></script>
<script>
    $('head').append('<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker3.min.css">');
    $('head').append('<link rel="stylesheet" type="text/css" href="https://unpkg.com/plyr@3/dist/plyr.css">');
</script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/datepicker-locales/bootstrap-datepicker.<%= locale %>.min.js"></script>
<script src="/controller/teacher.js" defer></script>